@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#0a0f1f] text-gray-200;
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
  }
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-[#1f2937];
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-purple-600 rounded-full;
  }
}
